*{
    margin: 0px;
    padding: 0px;
    font-family: "Sulphur Point", serif;
}

#mainHeading{
    color: aqua;
}

/* For WebKit browsers like Chrome, Safari, and Edge */ 
::-webkit-scrollbar { width: 12px; /* Width of the scrollbar */ }

::-webkit-scrollbar-thumb { background-color: rgba(43, 42, 42, 0.73); /* Color of the scrollbar thumb */ border-radius: 10px; /* Rounded corners for the scrollbar thumb */ }
/* ::-webkit-scrollbar-button {background-color: rgba(82, 82, 77, 0.581);} */
/* ::-webkit-scrollbar-track {background-color: rgba(82, 82, 77, 0.581);} */

.logo{
    animation: circle 2s infinite;
}
@keyframes circle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    };
}

#productInput{
        outline: 2px solid; /* Change to any color */
        transition: outline-color 0.3s ease-in-out;
}
#productInput:focus{
    outline-color: rgba(112, 112, 112, 0.749);
    color: white;
}